.card {
  height: 150px;
  width: 120px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  user-select: none;
  background-color: black;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.flipped {
  background-color: aliceblue;
  transform: rotateY(0deg);
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
